.navbar{
    .register_btn{
        font-weight:600;
        color:#289BDE;
        font-size:18px;
        text-transform: unset;
    }
    .nav{
        .nav-items{
            color: #777777;
            font-size:18px;
            text-transform: unset;
        }
    }
    .brand_name{
        font-size: 40px;
        font-weight: 600;
    }
}