.courses {
    .courses_tag {
        max-width: 40%;
    }

    .cources_inner {
        max-width: 50%;
    }
}
.box_inner {
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    height: 95%;

    .box_heading {
        font-size: 25px;
        font-weight: 600;
        color: #4a4a4a;
    }

    .box_price {
        font-size: 18px;
        font-weight: 600;
        color: #289bde;
    }
}
.cources_btn {
    .see_btn {
        padding: 8px 22px;
    }
}

.cources_btn{
    .btn2{
        display: none;
    }
}

@media (max-width: 1536px) {
}
@media (max-width: 1200px) {
    .main_container {
        .hide_card {
            display: none !important;
        }
    }
    .cources_btn {
        .btn1 {
            display: none;
        }
        .btn2{
            display: block;
        }
    }
}
@media (max-width: 900px) {
    .courses {
        .text_primary {
            font-size: 30px !important;
            max-width: 100%;
        }
        .cources_inner {
            max-width: 75%;
        }
    }
    .box_inner {
        .box_heading {
            font-size: 23px;
        }
    }
}
@media (max-width: 600px) {
    .courses {
        .text_primary {
            font-size: 20px !important;
        }
        .cources_inner {
            max-width: 100%;
            font-size: 14px !important;
            line-height: 25px !important;
        }
    }
    .Cources {
        .cardP {
            display: flex;
            flex-direction: column;
            .cardimg {
                width: 100%;
            }
        }
        .box_inner {
            border-top: none;
        }
        .text_primary{
            line-height: 40px !important;
        }
    }
    .box_inner {
        .box_heading {
            font-size: 18px;
        }
        .text_secondary{
            font-size: 14px !important;
            line-height: 20px !important;
        }
    }
    
}
