
.institute_box {
    background-color: #f4fafd;
    border-radius: 5px;

    .institute_tagline {
        max-width: 94%;
    }
    .rating {
        .rating_title {
            font-weight: 500;
            font-size: 20px;
            color: #777777;
        }
    }
    .btn {
        .read_btn {
            
            padding: 8px 18px;
        }
    }
}
