.institute_box {
    background-color: #f4fafd;
    border-radius: 5px;

    .institute_tagline {
        max-width: 94%;
    }
    .rating {
        .rating_title {
            font-weight: 500;
            font-size: 20px;
            color: #777777;
        }
    }
    .btn {
        .read_btn {
            padding: 8px 18px;
        }
    }
    .boy2 {
        display: none;
    }
}

@media (max-width: 1536px) {
}
@media (max-width: 1199px) {
    .boy-img {
        display: flex;
        justify-content: center;
        .boy2 {
            display: block;
            width: 100%;
        }
        .boy1 {
            display: none;
        }
    }
   
  
}
@media (max-width: 900px) {
    .Institute{
        .text_primary{
            font-size: 30px !important;
        }
    }
}
@media (max-width: 600px) {
    .Institute{
        .text_primary{
            font-size: 20px !important;
            line-height: 40px !important;
        }
    }
    .institute_box{
        .institute_tagline{
            line-height: 25px !important;
            max-width: 100%;
            font-size: 14px !important;
        }
    }
    .rating{
        .rating_title{
            font-size: 16px !important;
        }
    }
}
