.join {
    .join_inner {
        background: #289bde;
        border-radius: 5px;
    }
    .join_heading {
        font-weight: 600;
        font-size: 45px;
        color: #ffffff;
        padding-top: 10px;
    }
    .join_tagline {
        font-weight: 400;
        font-size: 16px;
        color: #f4f4f4;
        max-width: 60%;
        padding: 20px 0px;
    }
    .btn {
        .register_btn {
            font-weight: 600;
            font-size: 20px;
            background-color: white;
            color: #289bde;
            text-transform: unset;
        }
    }
}
@media (max-width: 1536px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 900px) {
    .join {
        .join_heading {
            font-size: 30px !important;
        }
    }
}
@media (max-width: 600px) {
    .join {
        .join_heading {
            font-size: 20px !important;
        }
        .join_tagline {
            max-width: 100%;
            font-size: 14px !important;
        }
        .btn{
            font-size: 18px !important;
        }
    }
}
