.Questions {
    .questions_inner {
        max-width: 50%;
    }
    .accordion_heading {
        font-weight: 600;
        font-size: 20px;
        color: #4a4a4a;
    }
    .accordion {
        min-height: 80px;
        max-width: 872px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: none;
        .accordionsummary.Mui-expanded {
            background-color: rgba(40, 155, 222, 0.1);
        }
    }
    .accordiondetails {
        padding: 28px 68px 30px 20px;
    }
    .accordionsummary {
        border: 1px solid #e8e8e8;
        min-height: 75px;
        border-radius: 5px;
    }
}

@media (max-width: 1536px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 900px) {
    .Questions {
        .text_primary {
            font-size: 30px !important;
        }
        .questions_inner {
            max-width: 100%;
        }
    }
}
@media (max-width: 600px) {
    .Questions {
        .text_primary {
            font-size: 20px !important;
        }
        .accordion_heading {
            font-size: 16px;
        }
        .accordiondetails{
            padding: 0;
            text-align: center;
        }
    }
}
